.plan {
	display: flex;
}

.plan img {
	min-width: 450px;
}

.info {
	text-align: center;
	padding: 25px;
	max-width: 250px;
	background-color: white;
	margin-left: 20px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

	position: relative;
}

.info p {
	margin-top: 10px;
}

.infoButton {
	margin-top: 30px;
}

.icon {
	color: #fff;
	font-size: 2.5em !important;
	padding: 10px;
	border-radius: 100%;
	margin-top: 10px;
}
