.header {
  background-color: #282828;
  padding: 10px;
}

/* logo */
.logo {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 64px;
  margin-left: 2vw;
  vertical-align: middle;
}

.logo span {
  display: inline-block;
  color: white;
}

/* navigation */
nav {
  display: inline-block;
  text-align: left;
  margin: 0px 10px;
}

.link {
  font-size: 24px;
  color: white;
  margin: 0px 5px;
  padding: 10px 15px;
  border-radius: 3px;
}

.link:hover {
  background: #444;
}
