.banner {
  background: url("assets/banner/background.png");
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.cards {
  display: flex;
  padding: 30px;
  justify-content: space-around;
}

.plan {
  margin: 0 auto;
  background-color: green;
}

